.container{
    position:relative;
    width:100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 24px;
    @include tablet{
        padding: 0 32px;
    }
}
.flex{
    display: flex;
}
.grid{
    display:grid;
}
 

.section-heading-block{
    margin-bottom: 64px;
}