.eyebrow-text{
    width: 100%;
    padding: 40px 16px;
    .container{
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        .eyebrow{
            max-width: 1056px;
            font-size: rem(18);
            line-height: rem(28);
            color: $blue-1;
            margin: 0 auto;
            display: block; 
            b{
              color: $blue-9;
            }
         
            @include tablet {
                font-size: rem(20);
                line-height: rem(30);
            }
            @include laptop {
                font-size: rem(48);
                line-height: rem(60);
            }
        }
    }
}